<!DOCTYPE html>
<html lang="en">
<!-- molla/index-4.html  22 Nov 2019 09:53:08 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% if page_data.title == null %}
            {{ layout.shop_info.name }} - {{ layout.shop_info.description }}
        {% endif %}
    
        {% if page_data.title != null %}
            {{ page_data.title }} | {{ layout.shop_info.name }} - {{ layout.shop_info.description }}
        {% endif %}
    </title>
    {% block seo_meta %}{% endblock %}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ layout.shop_info.logo }}" />
    <link rel="stylesheet" href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-4.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-4.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous"
    />
    <style>
        .header-intro-clearance .header-bottom .container::after { background-color: white; }
        .product.product-2 { border: 0.1rem solid #ebebeb !important; }
        .product-media { background-color: #fff; }
        .product-image { padding: 20px; }
        .product-details .product-title {
            margin-bottom: 3rem;
        }
        .product-price {
            margin-bottom: 3rem;
        }
        .details-filter-row {
            margin-bottom: 3rem;
        }
        .fa-envelope:before {
            font-size: 23px;
        }

        .tracking-item {
            border-left: 1px solid #c4c4c4dc;
            position: relative;
            padding: 2rem 1.5rem 0.5rem 3.5rem;
            font-size: 1.4rem;
            margin-left: 5rem;
            min-height: 5rem;
        }

        .tracking-icon {
            line-height: 2.6rem;
            position: absolute;
            left: -2rem;
            width: 2.6rem;
            height: 2.6rem;
            text-align: center;
            border-radius: 50%;
            font-size: 20px;
            background-color: #fff;
            color: #999999;
        }

        .active-stage {
            color: yellowgreen;
        }

        .order-canceled {
            color: #e25050;
        }

        .tracking-content {
            padding: 1rem 2rem;
            background-color: #ecececdc;
            border-radius: 0.5rem;
        }

        .tracking-date {
            padding-bottom: 10px;
        }

        .product-body > .product-title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 10px;
            font-weight: 600;
        }

        @media (max-width: 768px) {
            .tracking-item {
                margin-left: 3rem;
            }
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-4">
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="/" class="logo">
                            <img src="{{layout.shop_info.logo}}" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="/products/search" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="keyword" id="q" value="{{layout.query_string}}" placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="wishlist">
                            <a href="/orders" title="Wishlist">
                                <div class="icon">
                                    <i class="far fa-envelope"></i>
                                    <span id="lblOrderCount" class="wishlist-count badge">3</span>
                                </div>
                                <p>My Orders</p>
                            </a>
                        </div>

                        <div class="dropdown cart-dropdown">
                            <a onmouseover="openCart()" href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                    <span id="lblCartCount" class="cart-count">2</span>
                                </div>
                                <p>Cart</p>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div id="cart_items_container" class="dropdown-cart-products">
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span id="total_price_cart_items" class="cart-total-price"></span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container" style="padding-left: 0;">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            {% for cat in layout.nav_items.shown %}
                                {% if cat.subcategories | length == 0 %}
                                <li>
                                    <a href="/products/catalog/{{cat.slug}}">{{ cat.name }}</a>
                                </li>
                                {% endif %}
                                {% if cat.subcategories | length > 0 %}
                                <li>
                                    <a href="#" class="sf-with-ul">{{ cat.name }}</a>
                                    <ul>
                                        {% for subcat in cat.subcategories %}
                                        <li><a href="/products/catalog/{{subcat.slug}}">{{ subcat.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div>
            </div><!-- End .header-bottom -->
        </header>

        {% block content %}{% endblock %}

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
                        <div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Follow Us</h4>

	            				<ul class="nav">
                                    {% for social_link in layout.footer_items.social_links %}
                                    {% if social_link.type ==  'facebook' %}
                                    <li class="nav-item">
                                        <a
                                            class="nav-link active"
                                            href="{{ social_link.url }}"
                                            style="font-size: 2rem; padding-left: 0"
                                        >
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if social_link.type ==  'instagram' %}
                                    <li class="nav-item">
                                        <a
                                            class="nav-link"
                                            href="{{ social_link.url }}"
                                            style="font-size: 2rem"
                                        >
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
	            			</div>
	            		</div>
                        {% if layout.footer_items.pages.about | length > 0 %}
                        <div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">About</h4>

	            				<ul class="widget-list">
                                    {% for aboutpage in layout.footer_items.pages.about %}
                                    <li>
                                        <a href="/pages/about/{{aboutpage.slug}}">{{ aboutpage.pageTitle }}</a>
                                    </li>
                                    {% endfor %}
	            				</ul>
	            			</div>
	            		</div>
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4>

	            				<ul class="widget-list">
	            					<li>
                                        <a href="/order/tracker">Order Tracking</a>
                                    </li>
                                    {% if layout.footer_items.pages.faq | length > 0 %}
                                    <li>
                                        <a href="/faq">FAQ</a>
                                    </li>
                                    {% endif %}
	            				</ul>
	            			</div>
	            		</div>
                        {% endif %}

	            		{% if layout.footer_items.pages.support | length > 0 %}
                        <div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Support</h4>

	            				<ul class="widget-list">
	            					{% for supportpage in layout.footer_items.pages.support %}
                                    <li>
                                        <a href="/pages/support/{{supportpage.slug}}">{{ supportpage.pageTitle }}</a>
                                    </li>
                                    {% endfor %}
	            				</ul>
	            			</div>
	            		</div>
                        {% endif %}
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2022 {{ layout.shop_info.name }}. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<p class="footer-payments">by <a href="https://www.bincommerz.com/">bincommerz</a></p>
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            
            <form action="/products/search" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="keyword" id="q" value="{{layout.query_string}}" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            {% for cat in layout.nav_items.shown %}
                                {% if cat.subcategories | length == 0 %}
                                <li>
                                    <a href="/products/catalog/{{cat.slug}}">{{ cat.name }}</a>
                                </li>
                                {% endif %}
                                {% if cat.subcategories | length > 0 %}
                                <li>
                                    <a href="#" class="sf-with-ul">{{ cat.name }}</a>
                                    <ul>
                                        {% for subcat in cat.subcategories %}
                                        <li><a href="/products/catalog/{{subcat.slug}}">{{ subcat.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav --> 
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <!-- <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div> -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.plugin.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script
			src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
			integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/cart_service.js"></script>
    <script src="/assets/js/checkout.js"></script>
    <script src="/assets/js/orders.js"></script>
    <script src="/assets/js/order_track.js"></script>
    <!-- <script src="/assets/js/demos/demo-4.js"></script> -->
    {% block additional_scripts %}{% endblock %}
</body>
</html>