{% extends '__main.html' %}

{% block seo_meta %}
<meta name="title" content="{{ page_data.title }}" />
<meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block content %}

<main class="main" id="checkout_container">
	<input name="shop_key" type="hidden" value="{{ page_data.shop_key }}" />
	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title" id="checkout_header">Checkout</h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->

	<div class="page-content" id="checkout_form">
		<div class="checkout">
			<div class="container">
				<form action="#">
					<div class="row">
						<div class="col-lg-7">
							<h2 class="checkout-title">Shipping Details</h2><!-- End .checkout-title -->
								<div class="row">
									<div class="col-12">
										<label>Full Name *</label>
										<input type="text" class="form-control" name="full_name" required>
										<small style="color: red;" id="full_name_errmsg"></small>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<div class="row">
									<div class="col-12">
										<label>Phone Number *</label>
										<input type="text" class="form-control" name="phone_number" required>
										<small style="color: red;" id="phone_number_errmsg"></small>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<div class="row">
									<div class="col-12">
										<label>Email</label>
										<input type="text" class="form-control" name="email">
										<small style="color: red;" id="email_errmsg"></small>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<div class="row">
									<div class="col-12">
										<label>Address *</label>
										<textarea 
											class="form-control" 
											cols="30" 
											rows="4"
											name="address"></textarea>
										<small style="color: red;" id="address_errmsg"></small>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->
						</div><!-- End .col-lg-9 -->
						<aside class="col-lg-5">
							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody id="cart_item_table_body"></tbody>
								</table><!-- End .table table-summary -->

								<div class="row summary-subtotal" style="margin-top: 10px; margin-bottom: 10px;">
									<div class="col-6" style="color: #333; font-weight: 400; font-size: 1.6rem;">Subtotal:</div>
									<div id="cart-subtotal" class="col-6" style="text-align: right;">N/A</div>
									<div class="w-100" style="border-bottom: 0.1rem solid #ebebeb; margin: 10px;"></div>
								</div>
								<div class="row" style="margin-top: 20px;">
									<div class="col-6" style="color: #333; font-weight: 400; font-size: 1.6rem;">Shipping:</div>
								</div>
								<div class="row">
									<div class="col-12" style="margin-top: 10px;">
									{% for item in page_data.deliveryCharges %}
										{% if item.id == page_data.defaultDeliveryCharge.id %}
										<div class="custom-control custom-radio" style="margin-top: 0px;">
											<input onclick="changeDeliveryCharge('{{ item.id }}', '{{ item.amount }}')" type="radio" id="{{ item.id }}" name="shipping_charge_op" value="{{ item.amount }}" class="custom-control-input" checked>
											<label for="{{ item.id }}" class="custom-control-label">Tk {{ item.amount }} ({{ item.title }})</label>
										</div>
										{% else %}
										<div class="custom-control custom-radio" style="margin-top: 0px;">
											<input onclick="changeDeliveryCharge('{{ item.id }}', '{{ item.amount }}')" type="radio" id="{{ item.id }}" name="shipping_charge_op" value="{{ item.amount }}" class="custom-control-input">
											<label for="{{ item.id }}" class="custom-control-label">Tk {{ item.amount }} ({{ item.title }})</label>
										</div>
										{% endif %}
									{% endfor %}
									<input id="delivery-charge-amount" type="hidden" value="{{ page_data.defaultDeliveryCharge.amount }}">
									<input id="delivery-charge-id" type="hidden" value="{{ page_data.defaultDeliveryCharge.id }}">
									</div>
									<div class="w-100" style="border-bottom: 0.1rem solid #ebebeb; margin: 10px;"></div>
								</div>
								<div id="discount-row" class="row summary-total" style="margin-top: 10px; display: none;">
									<div class="col-6" style="color: #333; font-weight: 400; font-size: 1.6rem;">Discount:</div>
									<div id="discount-amount" class="col-6" style="text-align: right; color: red;">N/A</div>
								</div>
								<div class="row summary-total" style="margin-top: 10px;">
									<div class="col-6" style="color: #333; font-weight: 400; font-size: 1.6rem;">Total:</div>
									<div id="total-amount" class="col-6" style="text-align: right;">N/A</div>
								</div>
								<div class="row" style="margin-top: 20px;">
									<div class="col-6" style="color: #333; font-weight: 400; font-size: 1.6rem;">Voucher:</div>
								</div>
								<div class="row">
									<div class="col-12" style="margin-top: 10px; margin-bottom: 10px;">
										<input
											style="margin-top: 5px; margin-bottom: 5px;"
											class="form-control"
											placeholder="Enter a voucher code here..."
											name="voucher_code"
											required
										/>
										<small style="color: red;" id="voucher_errmsg"></small>
										<button id="apply_coupon_btn" style="margin-top: 10px;" onclick="applyCoupon(document.getElementsByName('shop_key')[0].value)" class="btn btn-outline-primary btn-block">
											<span>Apply</span>
										</button>
									</div>
									<div class="w-100" style="border-bottom: 0.1rem solid #ebebeb; margin: 10px;"></div>
								</div>

								<div class="accordion-summary" style="margin-top: 20px;">
									<div style="color: #333; font-weight: 400; font-size: 1.6rem;">Payment Method:</div>
									<div class="custom-control custom-radio" style="margin-top: 10px;">
										<input type="radio" id="pm_cod" name="payment_method" value="cod" class="custom-control-input">
										<label class="custom-control-label" for="pm_cod">Cash on delivery</label>
									</div>
									<div class="custom-control custom-radio" style="margin-top: 10px;">
										<input type="radio" id="pm_online" name="payment_method" value="online" class="custom-control-input">
										<label class="custom-control-label" for="pm_online">Pay with bKash</label>
										<input
											style="margin-top: 10px;"
											class="form-control"
											placeholder="Transaction Id (TrxID)"
											name="transaction_id"
											required
										/>
										<small style="color: red;" id="trxid_errmsg"></small>
									</div>
								</div>

								<button id="place_order_btn" onclick="placeOrder(document.getElementsByName('shop_key')[0].value)" class="btn btn-outline-primary-2 btn-order btn-block">
									<span class="btn-text">Place Order</span>
									<span class="btn-hover-text">Proceed to Checkout</span>
								</button>
							</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</form>
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main>

{% endblock %}


{% block additional_scripts %}
<script>
	var cart_items = JSON.parse(localStorage.getItem('cart_items'));

	if (cart_items.length === 0) {
		var checkout_container = document.getElementById('checkout_container');
		checkout_container.style.display = 'none';

		window.location.href = '/';
	}

	setSavedShippingValues();
	renderCartItemsTable();

	document.getElementsByName("payment_method")[0].checked = true;
	document.getElementsByName("transaction_id")[0].style.display = "none";
	document.getElementById("trxid_errmsg").style.display = "none";

	document.getElementsByName("payment_method")[0].addEventListener('click', event => {
		document.getElementsByName("transaction_id")[0].style.display = "none";
		document.getElementById("trxid_errmsg").style.display = "none";
	});

	document.getElementsByName("payment_method")[1].addEventListener('click', event => {
		document.getElementsByName("transaction_id")[0].style.display = "block";
		document.getElementById("trxid_errmsg").style.display = "block";
	});
	
</script>

{% endblock %}

