{% extends '__main.html' %} 

{% block seo_meta %}
<meta name="title" content="{{ page_data.title }}" />
<meta name="robots" content="index, follow" />

<meta property="og:title" content="{{ page_data.title }}" />
<meta property="og:type" content="webite" />
<meta property="og:image" content="{{ shop_info.logo }}" />
{% endblock %}

{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">{{page_data.title}}</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{page_data.title}}</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            {% for faq in page_data.faq_list %}
            <p style="font-weight: 600; font-size: 20px;">
                {{loop.index}}.
                <a href="/pages/faq/{{faq.slug}}">
                   {{ faq.pageTitle }}
                </a>
            </p>
            {% endfor %}
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
{% endblock %}
