{% extends '__main.html' %}

{% block seo_meta %}
<meta name="title" content="{{ shop_info.name }}" />
<meta name="description" content="{{ shop_info.description }}" />
<meta name="robots" content="index, follow" />

<meta property="og:title" content="{{ shop_info.name }}" />
<meta property="og:url" content="{{ shop_info.url }}" />
<meta property="og:type" content="webite" />
<meta property="og:description" content="{{ shop_info.description }}" />
<meta property="og:image" content="{{ shop_info.logo }}" />
<style></style>
<script>var sliders = [];</script>
{% endblock %}

{% block content %}

<p style="display: none;">{{ shop_info.description }}</p>

{% for row in page_data.template_data %}

{% if row.type == 'slider' %}
<div id="banner" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	{% for slide in row.data.slides %}
		{% if slide.default %}
		<li data-target="#banner" data-slide-to="{{loop.index - 1}}" class="active"></li>
		{% else %}
		<li data-target="#banner" data-slide-to="{{loop.index - 1}}"></li>
		{% endif %}
	{% endfor%}
	</ol>
	<div class="carousel-inner">
	{% for slide in row.data.slides %}
		{% if slide.default %}
		<div class="carousel-item active">
			<img
				class="d-block w-100"
				src="{{slide.imageURL}}"
				alt="First slide"
			/>
		</div>
		{% else %}
		<div class="carousel-item">
			<img
				class="d-block w-100"
				src="{{slide.imageURL}}"
				alt="First slide"
			/>
		</div>
		{% endif %}
	{% endfor%}
	</div>
	<a
		class="carousel-control-prev"
		data-target="#banner"
		role="button"
		data-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a
		class="carousel-control-next"
		data-target="#banner"
		role="button"
		data-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
{% endif %}

{% if row.type == 'category_section' %}
<div class="home-section" style="margin: 30px 0px 80px 0px">
	<h3 class="section-header" style="margin-top: 50px">{{ row.title }}</h3>
	<div style="text-align: center; margin-bottom: 50px">
		<i class="fas fa-arrow-down"></i>
	</div>
	<div class="container">
		<div class="demo w-100">
			<div class="item">
				<ul id="row-{{ loop.index }}" class="content-slider">
					{% for cat in row.data%}
					{% if cat.slug != 'featured'%}
					<li>
						<div class="card">
							<img
								src="{{cat.imageUrl}}"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 style="color: black;" class="card-title">{{cat.name}}</h5>
								<!-- <p class="card-text">
									Some quick example text to build on the card title
									and make up the bulk of the card's content.
								</p> -->
								<button
									class="exclusive btn-ex-black w-100"
									style="margin-top: 8%"
									onclick="window.location.href = '/products/{{cat.slug}}'"
								>
									<span>SEE PRODUCTS</span>
								</button>
							</div>
						</div>
					</li>	
					{% endif %}
					{% endfor%}
				</ul>
				<script>sliders.push({ id: 'row-{{ loop.index }}', type: 'category' });</script>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% if row.type == 'product_section' %}
<div class="home-section" style="margin: 30px 0px 80px 0px">
	<h3 class="section-header" style="margin-top: 50px">{{ row.title }}</h3>
	<div style="text-align: center; margin-bottom: 50px">
		<i class="fas fa-arrow-down"></i>
	</div>

	<div class="container">
		<div class="demo w-100">
			<div class="item">
				<ul id="row-{{ loop.index }}" class="content-slider">
					{% for item in row.data.products %}
					<li>
						<div class="card product-card">
							<img
								src="{{ item.imageUrl }}"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<a href="/product?id={{ item.id }}"><h5>{{ item.name }}</h5></a>
								{% if item.discount == 0.00 %}
								<p class="card-text price">Tk {{ item.price }}</p>
								{% endif %}

								{% if item.discount > 0.00 %}
								<p class="price-tag">Tk. 
									<span style="color: rgb(39, 39, 39); text-decoration: line-through;">{{ item.price }}</span>
									<span>{{ item.price - (item.price * (item.discount / 100)) }}</span>
									<span>({{ item.discount }}% OFF)</span>
								</p>
								{% endif %}
								<button
									class="exclusive btn-ex-red w-100"
									style="margin-top: 8%"
									onclick="addToCart('{{ item.id }}', '{{ item.name }}', '{{ item.imageUrl }}', '{{ item.price - (item.price * (item.discount / 100)) }}', 1);"
								>
									<span>ADD TO CART</span>
								</button>
							</div>
						</div>
					</li>
					{% else %}
					<h4><em>Something went wrong! No products found</em></h4>
					{% endfor %}
				</ul>
				<script>sliders.push({ id: 'row-{{ loop.index }}', type: 'product' });</script>
				<div class="view-all-link">
					<a style="text-decoration: none;" href="/products/{{ row.data.slug }}">View All</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endfor %}

{% endblock %}

{% block additional_scripts %}
<script src="/assets/js/lightslider.js"></script>
<script>
	$(document).ready(function() {
		sliders.forEach((item) => {
			if (item.type === 'category') {
				initCategorySlider(item.id);
			} else {
				initProductSlider(item.id);
			}
		})
	});

	function initCategorySlider(element_id) {
		$("#" + element_id).lightSlider({
			loop: false,
			keyPress: true,
			responsive : [
				{
					breakpoint:800,
					settings: {
						item:3,
						slideMove:1,
						slideMargin:6,
					}
				},
				{
					breakpoint:480,
					settings: {
						item: 1,
						slideMove:1
					}
				}
			]
		});
	}

	function initProductSlider(element_id) {
		$("#" + element_id).lightSlider({
			loop: false,
			keyPress: true,
			responsive : [
				{
					breakpoint:800,
					settings: {
						item:4,
						slideMove:1,
						slideMargin:6,
					}
				},
				{
					breakpoint:480,
					settings: {
						item: 2,
						slideMove:1
					}
				}
			]
		});
	}

</script>
{% endblock %}