{% extends '__main.html' %}

{% block seo_meta %}
<meta name="title" content="{{ shop_info.name }}" />
<meta name="description" content="{{ shop_info.description }}" />
<meta name="robots" content="index, follow" />

<meta property="og:title" content="{{ shop_info.name }}" />
<meta property="og:url" content="{{ shop_info.url }}" />
<meta property="og:type" content="webite" />
<meta property="og:description" content="{{ shop_info.description }}" />
<meta property="og:image" content="{{ shop_info.logo }}" />
<style></style>
<script>var sliders = [];</script>
{% endblock %}

{% block content %}

<main class="main">
{% for row in page_data.template_data %}
    {% if row.type == 'slider' %}
    <div class="intro-slider-container mb-5">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" 
            data-owl-options='{
                "margin": 20,
                "dots": true,
                "nav": false,
                "loop": true,
                "autoplay":true,
                "autoplayTimeout": 4000,
                "autoplayHoverPause": true, 
                "responsive": {
                    "1200": {
                        "nav": true,
                        "dots": false
                    }
                }
            }'>
            {% for slide in row.data.slides %}
            {% if slide.buttonUrl == '' %}
            <div 
                class="intro-slide" 
                style="background-image: url({{slide.imageURL}});">
            </div><!-- End .intro-slide -->
            {% else %}
            <div
                onclick="window.location.href='{{ slide.buttonUrl }}'" 
                class="intro-slide" 
                style="background-image: url({{slide.imageURL}}); cursor: pointer;">
            </div><!-- End .intro-slide -->
            {% endif %}
            {% endfor%}
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->
    {% endif %}

    {% if row.type == 'category_section' %}
    <div class="container">
        <h2 class="title text-center mb-4">{{ row.title }}</h2>
        <div class="cat-blocks-container">
            <div style="padding-left: 15px; padding-right: 15px;" 
                    class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" 
                    data-toggle="owl" 
                    data-owl-options='{
                        "nav": true, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "480": {
                                "items": 2
                            },
                            "768": {
                                "items": 2
                            },
                            "992": {
                                "items": 3
                            },
                            "1200": {
                                "items": 4
                            }
                        }
                    }'>
                    {% for cat in row.data%}
                    {% if cat.slug != 'featured'%}
                    <div style="width: 300px;">
                        <a href="/products/catalog/{{cat.slug}}" class="cat-block">
                            <figure>
                                <span>
                                    <img src="{{cat.imageUrl}}" alt="Category image">
                                </span>
                            </figure>

                            <h3 class="cat-block-title">{{cat.name}}</h3>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor%}
                </div>
        </div><!-- End .cat-blocks-container -->
    </div><!-- End .container -->
    <div class="mb-6"></div><!-- End .mb-4 -->
    {% endif %}

    {% if row.type == 'product_section' %}
    <div class="container for-you">
        <div class="heading heading-flex mb-3">
            <div class="heading-left">
                <h2 class="title">{{row.title}}</h2><!-- End .title -->
            </div><!-- End .heading-left -->

            <div class="heading-right">
                <a href="#" class="title-link">View All<i class="icon-long-arrow-right"></i></a>
            </div><!-- End .heading-right -->
        </div><!-- End .heading -->

        <div class="products">
            <div class="row">
                {% for item in row.data.products %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-2">
                        <figure class="product-media">
                            {% if item.discount > 0.00 %}
                            <span class="product-label label-circle label-sale">{{ item.discount }}% OFF</span>
                            {% endif %}
                            <a href="/product/{{ item.id }}">
                                <img src="{{ item.imageUrl }}" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action">
                                <a 
                                    onclick="addToCart('{{ item.id }}', '{{ item.name }}', '{{ item.imageUrl }}', '{{ item.price - (item.price * (item.discount / 100)) }}', 1);" 
                                    style="cursor: pointer;"
                                    class="btn-product btn-cart" 
                                    title="Add to cart">
                                    <span>add to cart</span>
                                </a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="/product/{{ item.id }}">{{ item.name }}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">Tk. {{ item.price }}</span>
                                {% if item.discount > 0.00 %}
                                <span style="text-decoration: line-through;" class="old-price">
                                    {{ item.price - (item.price * (item.discount / 100)) }}
                                </span>
                                {% endif %}
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                {% endfor %}
            </div><!-- End .row -->
        </div><!-- End .products -->
    </div><!-- End .container -->
    <div class="mb-5"></div><!-- End .mb-4 -->
    {% endif %}
    {% endfor %}
            
</main><!-- End .main -->
{% endblock %}