{% extends '__main.html' %} 

{% block seo_meta %}
<meta name="title" content="{{ page_data.title }}" />
<meta name="robots" content="index, follow" />

<meta property="og:title" content="{{ page_data.title }}" />
<meta property="og:url" content="{{ layout.shop_info.url }}/product/{{ page_data.product_id }}" />
<meta property="og:type" content="webite" />
<meta property="og:description" content="{{ page_data.product_data.description }}" />
<meta property="og:image" content="{{ page_data.default_gallery_image.thumbnailImage }}" />
{% endblock %}

{% block content %}
<main class="main">
    <div class="page-content" style="margin-top: 40px;">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="{{ page_data.default_gallery_image.thumbnailImage }}" 
                                    data-zoom-image="{{ page_data.default_gallery_image.originalImage }}" alt="product image">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    {% for img_item in page_data.product_data.images %}
                                    <a class="product-gallery-item" href="#" data-image="{{ img_item.thumbnailImage }}" data-zoom-image="{{ img_item.originalImage }}">
                                        <img src="{{ img_item.thumbnailImage }}" >
                                    </a>
                                    {% endfor %}
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{page_data.product_data.name}}</h1><!-- End .product-title -->

                            <div class="product-price" style="margin-bottom: 1.5rem;">
                                {% if page_data.product_data.discount > 0.00 %}
                                <span class="new-price">Tk. {{ page_data.product_data.price }}</span>
                                <span style="text-decoration: line-through;" class="old-price">
                                  {{ page_data.product_data.oldPrice }}
                                </span>
                                {% else %}
                                <span class="new-price">Tk. {{ page_data.product_data.price }}</span>
                                {% endif %}
                            </div><!-- End .product-price -->

                            {% if page_data.product_data.discountInPercentage > 0.00 %}
                            <div style="margin-bottom: 1.5rem;">
                                <p style="font-weight: 400; font-size: 20px;"><span class="badge" style="color: white; background-color: #ef837b;">{{ page_data.product_data.discountInPercentage }} % OFF</span></p>
                            </div>
                            {% endif %}

                            <div class="details-filter-row details-row-size">
                                <label for="qty">Qty:</label>
                                <div class="product-details-quantity">
                                    <input type="number" id="product_quantity" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->

                            <div class="product-details-action">
                                <a
                                  onclick="addToCart('{{ page_data.product_id }}', '{{ page_data.product_data.name }}', '{{ page_data.product_data.imageUrl }}', '{{ page_data.product_data.price }}', getQuantity());"
                                  style="cursor: pointer;" 
                                  class="btn-product btn-cart">
                                  <span>add to cart</span>
                                </a>
                                <script>
                                    function getQuantity() {
                                        var qunatity = document.getElementById('product_quantity').value;
                                
                                        if (qunatity < 1) {
                                            qunatity = 1;
                                        }
                                
                                        return qunatity;
                                    }
                                </script>
                            </div><!-- End .product-details-action -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-start" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div id="product_desc_quill" class="product-desc-content">{{ page_data.product_data.description }}</div>
                        <script>
                            var desc_html = document.getElementById("product_desc_quill");
        
                            if (desc_html) {
                                desc_html.innerHTML = desc_html.innerText;
                            }
                        </script>
                        <style>
                            #product_desc_quill > p > img {
                                width: 100%;
                            }
                        </style>
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main>
{% endblock %} 
