{% extends '__main.html' %}

{% block seo_meta %}
<meta name="title" content="{{ page_data.title }}" />
<meta name="robots" content="index, nofollow" />
{% endblock %}

{% block content %}
<main class="main">
	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title" id="checkout_header">Order Tracker</h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Order Tracker</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->

	<div class="page-content" id="checkout_form">
        {% if page_data.show_tracking_data == false %}
		<div class="container" id="order_id_search_box">
            <div class="row d-flex">
                <div class="col-lg-6 col-md-12">
                    <div class="w-100">
                        <input type="text" class="form-control" style="margin-bottom: 5px;" placeholder="Order ID" name="order_id" required>
                        <small style="color: red;" id="track_id_errmsg"></small>
                    </div>
                    <button
                        style="margin-top: 20px;"
                        class="btn btn-primary" 
                        onclick="trackOrder()">
                        <span>TRACK NOW</span>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

        {% if page_data.show_tracking_data == true %}

        <div class="container">
            {% if page_data.tracking_data == null %}
            <div style="text-align: center; margin-bottom: 30px;">
                <h5>Invalid Order ID</h5>
                <h4 *ngIf="orderId" class="w-100" style="color: #e25050;">
                    {{ page_data.order_id }}
                </h4>
            </div>

            <div style="margin-top: 30px;">
                <p style="text-align: center;">
                    Please check your order id and <a href="/order_tracker">try again</a>
                </p>
            </div>

            {% endif %}

            {% if page_data.tracking_data != null %}
            <div style="text-align: center; margin-bottom: 30px;">
                <h5>Tracking Order ID</h5>
                <h4 *ngIf="orderId" class="w-100" style="color: #e25050;">
                    {{ page_data.order_id }}
                </h4>
            </div>
    
            <div class="row d-flex justify-content-center">
                <div *ngIf="orderService.orderTrackingLog$ | async; else invalidorderid;" class="col-lg-6 col-md-12">
                    
                    {% for track_item in page_data.tracking_data %}
                        <div class="tracking-item">
                            {% if track_item.title == 'Order Canceled' %}
                            <div class="tracking-icon order-canceled">
                                <i class="fas fa-ban fa-2x"></i>
                            </div>
                            {% endif %}
                            {% if track_item.title != 'Order Canceled' %}
                            <div class="tracking-icon active-stage">
                                <i class="fas fa-check-circle fa-2x"></i>
                            </div>
                            {% endif %}
                            <div class="tracking-date">{{ track_item.logDateTime }}</div>
                            <div class="tracking-content">
                                <h6>{{ track_item.title }}</h6>
                                <p>{{ track_item.description }}</p>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
    
                <div class="col-12" style="margin-top: 30px;">
                    <p style="text-align: center;">
                        Do you want to track another order? <a href="/order/tracker">Click here</a>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>

        {% endif %}
	</div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock %}