{% extends '__main.html' %}

{% block seo_meta %}
<meta name="title" content="{{ page_data.title }}" />
<meta name="robots" content="index, nofollow" />
{% endblock %}

{% block content %}
<div style="margin: 120px 0px 80px 0px" id="checkout_container">
	<div class="container">
		<h3 class="section-header" id="checkout_header">SEARCH PRODUCTS</h3>     

        <div class="container" style="margin-top: 6%;">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="w-100">
                        <input type="text" class="form-control" placeholder="Keyword" name="search_query" value="{{ page_data.query }}" required>
                        <small style="color: red;" id="search_query_errmsg"></small>
                    </div>
                    <button 
                        class="exclusive btn-ex-red" 
                        style="margin: 8% auto;"
                        onclick="searchProducts()">
                        <span>SEARCH</span>
                    </button>
                </div>
            </div>
        </div>

        {% if page_data.show_search_results == True %}

        <div class="container">
            {% if page_data.search_results == None %}
            <div style="text-align: center; margin-bottom: 30px;">
                <h5>No items found for '{{ query }}'</h5>
            </div>
            {% endif %}

            {% if page_data.search_results != None %}
            <h4 style="text-align: center;">Found {{ page_data.count }} results for '{{ page_data.query }}'</h4>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    {% for item in page_data.search_results %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card product-card">
                            <img
                                src="{{ item.imageUrl }}"
                                class="card-img-top"
                                alt="..."
                            />
                            <div class="card-body">
                                <a href="/product?id={{ item.id }}"><h5>{{ item.name }}</h5></a>
                                <p class="card-text price">Tk {{ item.price }}</p>
                                <button
                                    class="exclusive btn-ex-red w-100"
                                    style="margin-top: 8%"
                                    onclick="addToCart('{{ item.id }}', '{{ item.name }}', '{{ item.imageUrl }}', '{{ item.price }}', 1);"
                                >
                                    <span>ADD TO CART</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <h4><em>Something went wrong! No products found</em></h4>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        {% endif %}

	</div>
</div>

{% endblock %}


{% block additional_scripts %}

<script>
    function searchProducts() {
        var search_query = document.getElementsByName("search_query")[0].value;
        var search_query_errmsg = document.getElementById("search_query_errmsg");

        search_query_errmsg.innerText = "";

        if (search_query === "") {
            search_query_errmsg.innerText = "Please provide a keyword"
        } else {
            window.location.href = '/search?q=' + search_query;
        }
    }
</script>

{% endblock %}